{
  "src/**/*.{,ts,tsx}": [
    "eslint --ext .tsx --ext .ts ./src"
  ],
  "./src/**": [
    "prettier --write ./src/."
  ],
  "pages/**/*.{ts,tsx}": [
    "eslint --ext .tsx --ext .ts ./pages"
  ],
  "./pages/**": [
    "prettier --write ./pages/."
  ]
}
