{
  "./src/**/*.{,ts,tsx}": [
    "eslint --ext .tsx --ext .ts"
  ],
  "./src/**": [
    "prettier --write"
  ],
  "./pages/**/*.{ts,tsx}": [
    "eslint --ext .tsx --ext .ts"
  ],
  "./pages/**": [
    "prettier --write"
  ]
}
