{
  "src/**/*.{,ts,tsx}": [
    "eslint --ext .tsx --ext .ts ./src --fix"
  ],
  "./src/**": [
    "prettier --write ./src/."
  ],
  "pages/**/*.{ts,tsx}": [
    "eslint --ext .tsx --ext .ts ./pages --fix"
  ],
  "./pages/**": [
    "prettier --write ./pages/."
  ]
}
