@import 'variables';

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei';
  color: $dark-black;
  font-size: 15px;
  line-height: 1.42857143;
  overflow-y: hidden;
}

#root {
  background-color: $white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

textarea::-webkit-scrollbar,
section::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background-color: transparent;
  border: none;
}

textarea::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $yellow;
  opacity: 0.5;
}

textarea::-webkit-scrollbar-track,
section::-webkit-scrollbar-track {
  background-color: transparent;
  border: 0px solid;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

// loading frame icon animation

@keyframes lds-ripple {
  0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
  }
  100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
  }
  100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
  }
}

.lds-css-ng-scope {
  top: 20vw;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
}

@media (min-width: 870px) {
  .lds-css-ng-scope {
      margin-top: 10vw;
  }
}

.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: #cc3d61;
}
.lds-ripple div:nth-child(2) {
  border-color: #ff98b2;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-ripple {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1)
      translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
