$yellow: #feda6a;
$background-yellow: #feda6a66;
$light-yellow: #ffeead;
$dark-yellow: #e1af13;
$white: #ffffff;
$dark-white: #f8f8f8;
$light-gray: #d4d4dc;
$dark-gray: #a39e9e;
$light-black: #393f4d;
$dark-black: #1d1e22;
$red: #f5587b;
